# Database
#  Local mongod : mongodb://127.0.0.1:27017/the-daily-web
#  Atlas        : mongodb+srv://<user>:<password>@<cluster>.mongodb.net/the-daily-web
MONGO_URI=mongodb://127.0.0.1:27017/the-daily-web

# Server
PORT=8000
